body {
    background-color: #e7e6e6;
}

header {
    border-color: #0a2939;
    border: 2px solid aliceblue;
    padding: 5px;
    text-align: center;
}

#F1 ,#P1 {
  text-align: center;
}

#img1 {
   float:left;
    width: 50px;
    height: 50px;
    box-shadow: 3px 3px 5px snow;
}